
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  transition: color 0.3s ease; /* Optional: Smooth transition for color change */
}

.icon:hover {
  color: var(--color-blue-400); /* Color on hover */
}
